
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 브랜드 명 */
#brand-name{
    /* border: 1px solid teal; */
    border-bottom: 2px solid  black;
    margin: 30px;
    text-align: center;
    font-size: 80px;
    font-family: 'Passions Conflict', cursive;
}
#brand-name img{
    margin-left: 10px;
    width: 50px;
    margin-bottom: 20px;
}
/* nav 바 */
header{
    /* border: 1px solid red; */
    position: sticky;
    top: 0;
    z-index: 5;
    font-family: 'twayair';
}
.navbar{
    padding: 10px 60px;
}
a{
    text-decoration: none;
    color: rgb(160, 161, 157);
    /* border: 1px solid red; */
}
.logimg img{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 10px;
    /* margin: 0 30px; */
}
.list_nav{
    /* border: 1px solid blue; */
    width: 50vw;
    text-align: center;
    display: flex;
}
.list_nav div{
    /* border: 1px solid red; */
    width: 60px;
    margin-right: 50px;
    font-size: 20px;
}

.login_var{
    /* border: 1px solid blue; */
    float: right;
    font-size: 13px;
    color: rgb(160, 161, 157);
    margin-right: 40px;
}
@media (max-width:1200px){
    .login_var{
        display: none;
    }
    .list_nav div{
        font-size: 15px;
        width: 30%;
    }
}
.login_var a{
    margin-right: 10px;
}
/* 반응형 */

.login_var a:last-child{
    margin-left: 10px;
}

/* index-main container */
.wrapper{
    overflow: hidden;
    height: 90vh;
    /* border: 1px solid red; */
} 
.carousel{
    width: 300vw;
    transition: all 1s;
    height: 100%;
  }

.box{
    width: 100vw;
    height: 100%;
    float: left;
}
  
.box img{
    width: 100%;
}
.previous, .next{
    border: none;
    background-color:transparent;
}

.previous{
    position: absolute;
    top : 80%;
    transform: translateY(-50%);
}

.next{
    position: absolute;
    right: 0;
    top : 80%;
    transform: translateY(-50%);
}


/* 상품 카드-grid설정 */
.card-list{
    /* border: 1px solid blue;  */
    margin-top: 30px;
    text-align: center;
    font-family: 'twayair';
}

.card-list span{
    font-size: 70px;
}
.container-card{
    margin-top: 20px;
    margin-left: 150px;
    display: grid;
    gap: 30px 30px;
    grid-template-columns: repeat(auto-fit, 300px);
    text-align: start;
}
.container-card div{
    /* margin-top: 30px; */
    background: white;
    box-shadow: 1px 1px 5px gray;
    overflow: auto;
}
.container-card div p{
    /* border: 1px solid seagreen; */
    margin: 10px;
    margin-left: 10px;
}
.list-name{
    color: black;
    font-size: 30px;
}

/* footer */
footer{
    /* border: 1px solid red; */
    height: 30vh;
    background: black;
    color: rgb(160, 161, 157);
    margin-top: 50px;
    position: relative;
    font-family: 'twayair';
}
.footer-left{
  float: left;
  padding: 20px;
  margin-left: 40px;
}

.footer-left span{
    display: inline-block;
}
.footer-left span:first-child{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Passions Conflict', cursive;
}

.footer-right{
    padding: 20px;
    display: inline-block;
    margin-left: 100px;
    font-size: 20px;
}
.footer-right ul{
    list-style-type: none;
}

/*font */
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
