
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: KyoboHandwriting2021sjy;

}
/* nav 바 */
.navbar{
    display: flex;
    top : 0;
}
a{
    text-decoration: none;
    color: gray;
    /* border: 1px solid red; */
}
.list-group{
    display: none;
}
.list-group-show{
    display: block;
}

.logimg img{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 10px;
}
.list_nav{
    /* border: 1px solid blue; */
    width: 80%;
    display: flex;
    font-family: KyoboHandwriting2021sjy;
}
.list_nav div{
    margin-right: 90px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}
.login_var{
    display: flex;
    float: right;
    font-family: KyoboHandwriting2021sjy;
    font-size: 15px;
    color: gray;
}

.login_var a{
    margin-right: 10px;
}
.login_var a:last-child{
    margin-left: 10px;
}

/* index-main container */
.wrapper{
    overflow: hidden;
    position: relative;
    border: 2px solid green;
  }
.carousel{
    width: 300vw;
    transition: all 1s;
  }
  
.box{
    border: 1px solid red;
    width: 100vw;
    height: 100%;
    float: left;
}
  
.box img{
    width: 100%;
}
.box-btn{
    position: absolute;
    top: 90%;
    left: 50%;
}
.box-btn button{
    margin: 10px;
    width: 15px;
    height: 15px;
    border-radius: 100px;
} 
.btn1{
    background: #263238;
}
/*import할것들 */
@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}