/* left화면구성 */
#sticker-container{
  padding: 100px 0;
  display: flex;
  border: 1px solid violet;
}
#left-carousel{
  border: 1px solid red;
  width: 510px;
  height: 508px;
  display: flex;
  overflow: hidden;
  margin: auto;
  position: relative;
}
.best::before{
  position: absolute;
  content: 'BEST';
  background: pink;
  color: white;
  padding: 3px;
}

.sticker-previous, .sticker-next{
  border: none;
  position: absolute; 
  background-color:transparent;
}

.sticker-previous{
  top: 50%;
  transform: translateY(-50%);
}

.sticker-next{
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/*  오른쪽 상품 설명+구매하기 */
#right-view{
  border: 1px solid tomato;
  width: 800px;
  margin: auto;
}
